<!DOCTYPE html>
{% autoescape true %}


<html>
   
   <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
   <link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>

	<body>  
		<div class="page-container">
			<div class="title">
				<h1> The {{ adjective }} language of {{ name.language.orthography.phon_to_orth(name).capitalize() }} </h1>
			</div>
			<div class="language-description secondary">
				<!-- Onset / coda descriptions -->
				{% for line in descriptions %}
					<span class='language-rule'> &nbsp; &#8258; &nbsp; {{ line.capitalize() }}</span>
				{% endfor %}
			</div>

			<div class="'language-properties inline left-side">
				<!-- -------------- Vowels -------------- -->
				<div class="phoneme-list text-panel">
					<h2> Glyphs and phonemes in {{ name.language.orthography.phon_to_orth(name).capitalize() }} </h2>

                    <table>
						<tr>
							<th colspan="2"> Consonants ({{ number_of_consonants }})</th>
						</tr>
						{% for normal, english_equivalent, pronunciation_exceptions in consonants %}
							<tr>
								<td>{{ normal }}</td>
								<td class="secondary">{{ english_equivalent }}</td>
							</tr>
						{% endfor %}
					</table>

					<table>
						<tr>
							<th colspan="2"> Vowels ({{ number_of_vowels }})</th>
						</tr>
						{% for normal, english_equivalent, pronunciation_exceptions in vowels %}
							<tr>
								<td>{{ normal }}</td>
								<td class="secondary">{{ english_equivalent }}</td>
							</tr>
						{% endfor %}
					</table>

				</div>

				<!-- -------------- Consonants -------------- -->
				<!--<div class="phoneme-list text-panel">-->
					<!--<h2> Consonants in {{ name.language.orthography.phon_to_orth(name).capitalize() }}</h2>-->
				<!--</div>-->

			</div>

            <div class="sample-words inline right-side">
                <!-- ------------- Compound words / place names -------------- -->
                <div class="text-panel">
                    <h2> Famous place names in {{ name.language.orthography.phon_to_orth(name).capitalize() }}</h2>
                    <table>
                        <tr>
                            <th> Name </th>
                            <th> Meaning </th>
                        </tr>

                        {% for word in compound_words %}
                        <tr>
                            <td>{{ word.language.orthography.phon_to_orth(word).capitalize() }}</td>
                            <td class="secondary">"{{ word.meaning.title() }}"</td>
                            <td class='secondary small-text'>{{word.desc_etymology()}}</td>
                        </tr>
                    {% endfor %}
				    </table>
                </div>

                <!-- --------------- Regular vocabulary ---------------- -->
				<div class="text-panel">
                    <h2> Sample vocabulary in {{ name.language.orthography.phon_to_orth(name).capitalize() }}</h2>

                    <!-- First table -->
                    <table>
                        <tr>
                            <th> Word </th>
                            <th> Meaning </th>
                        </tr>

                        {% for word in vocab1 %}
                            <tr>
                                <td>{{ word }}</td>
                                <td class="secondary">{{ word.meaning }}</td>
                            </tr>
                        {% endfor %}
                    </table>

                    <!-- Second table -->
                    <table class="table-spacer">
                        <tr>
                            <th> Word </th>
                            <th> Meaning </th>
                        </tr>

                        {% for word in vocab2 %}
                            <tr>
                                <td>{{ word }}</td>
                                <td class="secondary">{{ word.meaning }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

			</div>
		</div>

		<div class="small-text hint">
            Random seed: {{seed}}
        </div>
	</body>
</html>
{% endautoescape %}